<!DOCTYPE html>
<html>
<head> 		 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
</head>
    <body style="overflow-x: hidden" background="bg.jpg">
         <nav class="navbar navbar-inverse">
                   
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#">SHIVATEJA</a>
                    </div>
                    <div>
                        <ul class="nav navbar-nav" >
                            <li ><a href="Home">Home</a></li>
                            <li><a  href="Convertorpage">Convertor</a></li>
                            <li class="active"><a href="Contactpage">Contact</a></li>
                            <li><a href="index">Guestbook</a></li>
                        </ul>
                     </div>       
          </nav>
       
<div class="container">
  <h3 class="text-center">Contact</h3>
  <div class="row test">
    <div class="col-md-4">
      <p></p>
      <p><span class="glyphicon glyphicon-phone"></span>Phone: +1 1212121212</p>
      <p><span class="glyphicon glyphicon-envelope"></span>Email:S528748@mail.nwmissouri.edu</p> 
        <image src="linkedin.jpg" height="40" width="40"></image>
        <image src="bit.png" height="50" width="60"> </image>
        <image src="git.jpg" height="40" width="50"></image>
    </div>
      <form method="post" action="Contact">
    <div class="col-md-8">
      <div class="row">
        <div class="col-sm-6 form-group">
          <input class="form-control" id="name" name="username" placeholder="Name" type="text" required>
        </div>
      </div>
      <textarea class="form-control" id="comments" name="comments" placeholder="Message" rows="6"></textarea>
      <div class="row">
        <div class="col-md-12">
          <button class="btn" type="submit">Send</button>
        </div>
      </div> 
    </div>
      </form>      
  </div>
</div>
</body>

</html>