<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title> Guestbook</title>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/
bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="./assets/guestbook.css">   
</head>
<body class="container-fluid">

<nav class="navbar navbar-inverse">
                   
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#">SHIVATEJA</a>
                    </div>
                    <div>
                        <ul class="nav navbar-nav" >
                            <li><a href="Home">Home</a></li>
                            <li><a  href="Convertorpage">Convertor</a></li>
                            <li><a href="Contactpage">Contact</a></li>
                            <li class="active"><a href="index">Guestbook</a></li>
                        </ul>
                     </div>       
</nav>
<h1>
Express Guestbook
<a href="/new-entry" class="btn btn-primary pull-right">
Write in the guestbook
</a>
</h1>

<body>
</html>