<!DOCTYPE html>
<html>
	<head>
		<title>ShivaTeja</title>
		<link href="Miyapuram_ShivaTeja.css" rel="stylesheet" type="text/css" />
		 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	</head>
	
	<body style="overflow-x: hidden" background="bg.jpg" >
         <nav class="navbar navbar-inverse">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#">SHIVATEJA</a>
                    </div>
                        <ul class="nav navbar-nav" >
                            <li class="active"><a href="Home">Home</a></li>
                            <li><a href="Convertorpage">Convertor</a></li>
                            <li><a href="Contactpage">Contact</a></li>
							<li><a href="index">Guestbook</a></li>
                        </ul>           
          </nav>
               
            <div class="row">
                <div class="col-md-6">
                    <img width="150" height="150" src="shiva.jpg" class="img-circle">
                    
                    <iframe class="videocontainer" width="550" height="315" src="https://www.youtube.com/embed/EknEIzswvC0?list=PLS1QulWo1RIbb1cYyzZpLFCKvdYV_yJ-E" frameborder="0" allowfullscreen></iframe>
                </div>
                
                
            <div class="col-md-6">    
                    
			<div class="row">	<h2>About me</h2> 	</div>		
			 <h3 ><i> Intro </i> </h3>
			 <p class="para1">
			     Hi. I'm ShivaTeja, from Warangal, India.<br>
			     I've completed my Bachelor's in Computer Science and Engineering <br>
			     from Gokaraju Rangaraju Institute of Engineering and Technology, Hyderabad.<br>
			     I am here at Northwest to pursue Master's in Applied Computer Science.	
			 </p>
	
			 <h3 class="center"><i> Plans </i> </h3>
			 <p class="para2">
			     I wanted to work as an Application Developer. 
             </p>    
			
		
			
			<h3 class="center"><i> Interests </i> </h3>
                <div>
			         <ul>
			             <li>I like watching Cricket, Football and playing Chess.</li>
			             <li>I love to know about new Gadgets, try new Apps.
			             <li>Java is one of my favourite Programming languages.
			             <li><a id="link1" href="http://www.Amazon.com">Amazon.com </a> and <a id="link2" href="http://www.facebook.com"> Facebook.com  </a> are some of my favourite websites.
			         </ul>
                </div>    
            </div>
        </div> 
        
		 
</body>

</html>